<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangjie.mapper.BugDetailMapper">
	<select id="getAll" parameterType="List" resultType="BugDetail">
		select * from bug_detail
	</select>
	
	<select id="createAll" parameterType="List" resultType="BugDetail">
		select * from bug_detail 
		<trim prefix="where" prefixOverrides="and |or">
			<if test="projectId!=0">
				projectId=#{projectId}
			</if>
		</trim>
	</select>
	
	<insert id="add" parameterType="int">
		insert into `bug_detail`(projectId,severity,title,reportUser,createDate) value(#{projectId},#{severity},#{title},#{reportUser},#{createDate})
	</insert>
</mapper>